{% extends 'core/base.html' %}
{% load static %}
{% block title %} Registrate {% endblock %}




{% block content %}



  <div class="my-10 py-10 max-w-3xl mx-auto flex-col justify-center bg-white rounded-3xl text-center">
    <div class="max-w-3xl lg:pt-10 mx-auto">
        <h1 class=" text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl mb-8 text-black tracking-tight text-center">Ingresa</h1>
      </div>
    <div class="flex-col ">
    <form action="{% url 'login_register:login' %}" method="post" >
        {% csrf_token %}
        <label for="username" >Username:</label><br>
        <input name="username" type="text" required class="w-1/2 p-2"><br>
        <label for="password" >Password:</label><br>
        <input name="password" type="password" required class="w-1/2 p-2"><br>
        <button type="submit" value="Submit" class="bg-yellow rounded-3xl p-3 px-6 mt-6">Ingresa</button>
    </form>

    </div>
  </div>
{% endblock %}