{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="max-w-5xl  mx-auto  my-10 bg-white rounded-3xl p-6">
  <h1 class=" text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl pb-3 text-black tracking-tight text-center"><span class="tracking-wider russo-one-regular bg-yellow px-4">PADRONCAT</span><br> <span class='text-2xl'> TU CONTACTO PARA VENTA Y COMPRA DE MAQUINAS</span></h1>
  <p class="mt-6 text-lg text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400">
    Gran variedad de maquinaria a la venta desde 
    <code class="font-mono font-medium text-amber-300 ">excavadoras</code>, 
    <code class="font-mono font-medium text-amber-300 ">low-boys</code>, esto y mas, disponible en un solo lugar
  </p>
  <div class="w-full flex justify-center">
      <a href="/inventory/" class="bg-amber-400 my-6 text-slate-900 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 duration-300 font-semibold h-12 px-6 rounded-lg items-center justify-center sm:w-auto flex transition ease-in-out delay-150">
      Visita nuestro inventario
    </a>
  </div>
  <div class='w-fit mx-auto flex justify-center text-white  items-center overflow-hidden rounded-3xl '>
    <img src='https://s7d2.scene7.com/is/image/Caterpillar/C811296?$cc-s$' class='h-32'>
    <img src='https://s7d2.scene7.com/is/image/Caterpillar/CM20200206-43545-32720?$cc-s$' class='h-32'>
    <img src='https://s7d2.scene7.com/is/image/Caterpillar/CM20211221-28487-cbb1b?$cc-s$' class='h-32'>


  </div>
</div>
{% endblock %}