{% extends 'core/base.html' %}
{% load static %}
{% block title %} Nosotros {% endblock %}

{% block content %}

<div class="max-w-5xl  mx-auto  my-10 bg-white rounded-3xl p-12">
    <h1 class=" text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl pb-3 text-black tracking-tight text-center">NOSOTROS<br> <span class='text-2xl'> VENDEDORES DE MAQUINAS PESADAS POR MAS DE 20 AÑOS</span></h1>
    <p class="P-6 text-lg text-black text-justify max-w-3xl mx-auto dark:text-black">
        <span class="font-extrabold">¡Bienvenidos a PadronCat™!</span>
        <br>
        <br>
        Somos una tienda de comercio electrónico fundada por un apasionado vendedor de maquinaria pesada con más de 20 años de experiencia en el mundo de las ventas. Originario de Valencia, Venezuela, hemos dedicado nuestra carrera a ofrecer soluciones confiables y eficientes en el campo de la maquinaria pesada.
        <br>
        <br>
        Nuestra historia comenzó en las calles de Valencia, donde aprendimos los valores fundamentales de la honestidad, la dedicación y el compromiso con nuestros clientes. A lo largo de los años, hemos establecido sólidas relaciones con clientes locales e internacionales, convirtiéndonos en un referente en la venta de maquinaria pesada en Venezuela.
        <br>
        <br>
        En PadronCat™, nos enorgullece haber vendido cientos de equipos de alta calidad a lo largo de los años. Desde excavadoras hasta grúas, nuestro catálogo abarca una amplia gama de maquinaria diseñada para enfrentar los desafíos más exigentes en la industria.
        <br>
        <br>
        Nuestra misión es proporcionar a nuestros clientes las herramientas necesarias para alcanzar el éxito en sus proyectos. Nos esforzamos por ofrecer productos de la más alta calidad, respaldados por un servicio al cliente excepcional. Entendemos la importancia de la maquinaria pesada en la realización de proyectos industriales, y trabajamos incansablemente para asegurarnos de que nuestros clientes cuenten con equipos confiables y duraderos.
        <br><br>
        Además de nuestra experiencia en ventas, en PadronCat™ también nos destacamos por comprender las necesidades específicas de nuestros clientes. Ofrecemos asesoramiento personalizado para garantizar que cada cliente encuentre la solución perfecta para sus requisitos individuales.
        <br><br>
        Estamos emocionados de llevar nuestra experiencia y dedicación a un nuevo nivel a través de nuestra plataforma de comercio electrónico. Con PadronCat™, ahora puede explorar nuestra amplia gama de maquinaria pesada desde la comodidad de su hogar, con la confianza de que recibirá la misma atención personalizada que ofrecemos en nuestra tienda física.
        <br><br>
        Gracias por ser parte de nuestra historia y confiar en PadronCat™ para todas sus necesidades de maquinaria pesada. ¡Esperamos servirle y contribuir al éxito de sus proyectos!
        <br><br>
        Atentamente,<br>
        Dario Padron<br>
        Fundador, PadronCat™ 
    </p>

  </div>

{% endblock %}